<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Welcome to the topological circuit group website!</h2>
        <p class="lead">Interested in low-dimensional electrical circuits where correlations and topology play a key role in stabilizing novel quantum phenomena ? 
          Contact us ! We develop and study controlled platforms to realize, manipulate, and detect novel **excitations** in **topological phases of matter**, 
          with a focus on fundamental physics and potential applications in topologial quantum computing.</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
