<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">

        <h2>Research Topics</h2>
        <hr class="small">

        <div class="row">

          <!-- LEFT ITEM -->
          <div class="col-md-6">
            <a href="{{ '/anyon-box' | relative_url }}" style="text-decoration:none;">

              <div style="position: relative; overflow: hidden;">

                <img src="img/logo.png" style="width:100%; display:block;">

                <div style="
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  color: white;
                  font-size: 18px;
                  font-weight: bold;
                  text-align: center;
                  background: rgba(0,0,0,0.4);
                ">
                  Anyon Box in Bilayer Graphene
                </div>

              </div>
            </a>
          </div>

          <!-- RIGHT ITEM -->
          <div class="col-md-6">
            <a href="{{ '/sound-quasiparticles' | relative_url }}" style="text-decoration:none;">

              <div style="position: relative; overflow: hidden;">

                <img src="img/07_x5.jpg" style="width:100%; display:block;">

                <div style="
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  color: white;
                  font-size: 18px;
                  font-weight: bold;
                  text-align: center;
                  background: rgba(0,0,0,0.4);
                ">
                  Sound-Driven Quasiparticles
                </div>

              </div>

            </a>
          </div>

        </div>

      </div>
    </div>
  </div>
</section>
