<section id="updates" class="updates">
  <div class="container">

    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">

        <h2>Updates</h2>
        <hr class="small">

        <div style="max-width:800px; margin:auto; text-align:left; font-size:18px;">


          <p>
            <strong>March 2026:</strong> Fatima and Nathan started their internships on the <a href="{{ '/AnyonBox' | relative_url }}">anyon box project</a>.
          </p>

          <p>
            <strong>February 2026:</strong> Launch of the ERC-funded project on <a href="{{ '/AnyonBox' | relative_url }}">anyons and topological quantum information</a>.
          </p>

<p style="font-size:18px;">
Meet our <a href="{{ '/team' | relative_url }}">research team</a>.
</p>
          <p>
            <strong>February 2026:</strong> Start of Mohammad’s PhD on <a href="{{ '/SoundDriven' | relative_url }}">sound-driven quasiparticles</a>.
          </p>

        </div>

      </div>
    </div>

  </div>
</section>
