<section id="updates" class="updates">
  <div class="container">

    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">

        <h2>Updates</h2>
        <hr class="small">

        <div style="max-width:800px; margin:auto; text-align:left; font-size:18px;">


          <p>
            <strong>March 2026:</strong> Fatima and Nathan started their internships on the anyon box project.
          </p>

          <p>
            <strong>February 2026:</strong> Launch of the ERC-funded project on anyons and topological quantum information.
          </p>

          <p>
            <strong>February 2026:</strong> Start of Mohammad’s PhD on sound-driven quasiparticles.
          </p>

        </div>

      </div>
    </div>

  </div>
</section>
